
<div id= "welcome_page">
<section>
  <h1>Welcome to The Rustic Cafe!</h1>

<h4>All servers must login into the system prior to their shift.</h4>

  <form action="/verification" method="post">

    <label for="server_name">Name</label>
    <input id="server_name" type="text" name="server[username]"><br />
    <label for="server_name">Password</label>
    <input id="server_password" type="text" name="server[password]"><br />
      <input type="submit" value="Login!">

  </form>

</section>

<p>
  <a href="/foods">Click here to see our menu</a>
  <a href="/parties">Click here to see current parties</a>
</p>