
<div id= "welcome_page">
<section>
  <h1>Welcome to The Dodgy Cafe!</h1>



  <form action="/verification" method="post">

    <label for="server_name">Name</label>
    <input id="server_name" type="text" name="server[username]"><br />
    <label for="server_name">Password</label>
    <input id="server_password" type="text" name="server[password]"><br />
      <input type="submit" value="Login!">

  </form>

</section>

  <a href="/foods">Click here to see our menu</a>
  <a href="/parties">Click here to see current parties</a>
