body {
	background:url('images/wood.jpg');
	font-family: 'Cabin', sans-serif;
	color: white
	
}

#welcome_page {
	text-align: left;

}
#menu_index a {
	color: white;


}

.container img{
	position: relative;
	height: 60;


}
.menu-detail-list {
	outline-color: white;
}