<h1>Please feel free to add a menu item!</h1>

<% if @food.errors.any? %>
	<p>Please fix these errors!
	<% @food.errors.full_messages.each do |message| %>
		<%= message %>
	<% end %>
<% end %>

<form action="/foods" method="POST"> 

<label for="name">Name</label>
<input id="name" type="text" name="food[name]"> <br>

<label for="cuisine">Cuisine</label>
<input id="cuisine" type="text" name="food[cuisine]"> <br>

<label for="price">Price</label>
<input id="price" type="integer" name="food[price]"><br>

<label for="allergens">Allergens</label>
<input id="allergens" type="text" name="food[allergens]"><br>
<input type="submit">
</form>

