<h2>Add a new party.</h2>

<form action="/parties" method="POST">


<label for="guests">Guests</label>
<input id="guests" type="text" name="party[guest]"<br>

<label for="table_number">Table_Number</label>
<input id="table_number" type="text" name="party[table_number]"<br>

<label for="paid">Paid</label>
<input id="paid" type="integer" name="party[paid]" <br>

<input type="submit">
</form>
